# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - azure-pipelines.yml

variables:
- group: DevOps Access Keys
- name: version
  value: $(grep -i 'set version' meta.yaml | awk '{ print $5}' | sed 's/"//g')
- name: TagName
  value: "TestTag-$((version))"

stages:

#####################################
# Linux Stages - Microsoft Hosted VMs
#####################################

### Dependency preparation stage
- stage: linux_prep_deps
  displayName: 'Linux Prepare Dependencies'
  jobs:
  - job: RunDeps
    displayName: 'Runtime Dependencies'
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-16.04'
    variables:
    - name: VERSION
      value: $(grep -i 'set version' meta.yaml | awk '{ print $5}' | sed 's/"//g')
    steps:

    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'

    - bash: |
        echo "##vso[task.setvariable variable=VERSION]$(VERSION)"
      displayName: 'Expose Version string as environment variable.'

    # Set up environment and run the build
    - bash: conda install --yes --quiet -c conda-forge -c fermi python=3.7 anaconda-client conda-build libiconv fermi-repoman
      displayName: 'Set up build environment'

    - bash: |
        mkdir components && cd components
        repoman --remote-base https://github.com/fermi-lat checkout-list ../packageList.txt
      displayName: 'Download Sources'

    - bash: |
        echo $VERSION
        conda build --python=3.7 -c conda-forge -c fermi components/Fermitools-dependencies
      displayName: 'Conda-Build Runtime Dependencies'

    - bash: anaconda -v -t $(Jasercion-Anaconda-Api) upload -u fermi --force /usr/share/miniconda/conda-bld/linux-64/fermitools-dependencies-*
      displayName: 'Upload Runtime Dependencies'

  - job: BuildDeps
    displayName: 'Buildtime Dependencies'
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-16.04'
    variables:
    - name: VERSION
      value: $(grep -i 'set version' meta.yaml | awk '{ print $5}' | sed 's/"//g')
    steps:
    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    - bash: |
        echo "##vso[task.setvariable variable=VERSION]$(VERSION)"
      displayName: 'Expose Version string as environment variable.'
    # Set up environment and run the build
    - bash: conda install --yes --quiet -c conda-forge -c fermi python=3.7 anaconda-client conda-build libiconv fermi-repoman
      displayName: 'Set up build environment'
    - bash: |
        mkdir components && cd components
        repoman --remote-base https://github.com/fermi-lat checkout-list ../packageList.txt
      displayName: 'Download Sources'

    - bash: conda build --python=3.7 -c conda-forge -c fermi components/Fermitools-build-deps
      displayName: 'Conda-Build Build Dependencies'

    - bash: anaconda -v -t $(Jasercion-Anaconda-Api) upload -u fermi --force /usr/share/miniconda/conda-bld/linux-64/fermitools-build-deps-*
      displayName: 'Upload Build Dependencies'


- stage: linux_tag_explicit_deps
  displayName: 'Linux Save Explicit Dependencies'
  dependsOn: linux_prep_deps
  jobs:
  - job: SaveExplicitDeps
    displayName: 'Save explicit linux dependencies'
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-16.04'
    variables:
    - name: VERSION
      value: $(grep -i 'set version' meta.yaml | awk '{ print $5}' | sed 's/"//g')
    - name: TagName
      value: TestTag-$(grep -i 'set version' ../meta.yaml | awk '{ print $5}' | sed 's/"//g')
    steps:
    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    - bash: |
        echo "##vso[task.setvariable variable=VERSION]$(VERSION)"
      displayName: 'Expose Version string as environment variable.'
    # Set up environment and run the build
    - bash: conda install --yes --quiet -c conda-forge python=3.7 libiconv
      displayName: 'Set up build environment'

    - bash: |
        git clone https://github.com/fermi-lat/Fermitools-explicit-build-deps-linux.git
      displayName: 'Download Sources'

    - bash: conda create --yes --quiet -n pipeline_bld_deps -c conda-forge -c fermi fermitools-build-deps=$VERSION
      displayName: 'Download Build Dependencies'

    - bash: conda list -n pipeline_bld_deps --explicit > Fermitools-explicit-build-deps-linux/explicit-deps.txt
      displayName: 'List Explicit Build Dependencies'

    - bash: |
        cd Fermitools-explicit-build-deps-linux
        git config --global user.email "joseph.a.asercion@nasa.gov"
        git config --global user.name "jasercion"
        git config --global credential.helper store
        echo https://$(Github-Access-Token):x-oauth-basic@github.com>>~/.git-credentials
        git add explicit-deps.txt
        git commit -m "Automatic commit from Azure Pipeline"
        git tag -m "Automatic tag from Azure Pipeline" $(TagName)
        git push --tags --force
      displayName: 'Save Explicit Build Dependencies list'



  ### Linux Build Stage ###
- stage: linux_build_stage
  displayName: 'Linux Build Stage'
  dependsOn: linux_prep_deps
  jobs:
  - job: buildTools
    displayName: 'Build the Fermitools'
    timeoutInMinutes: 150
    pool: 
      vmImage: 'ubuntu-16.04'
    variables:
    - name: BUILD_NUMBER
      value: $(conda search -c fermi/label/dev fermitools | grep -i $(version) | tail -1 | awk '{ print $3}' | cut -d "_" -f 2)
    steps:
    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    ### Build commands start here ###
    # Query last build number for this version and iterate if necessary
    - bash: echo "##vso[task.setvariable variable=BUILD_NUMBER]$(BUILD_NUMBER)"
      displayName: 'Query last build number of this version'
    - bash: echo "##vso[task.setvariable variable=BUILD_NUMBER]$(expr $BUILD_NUMBER + 1)"
      condition: notIn(variables['BUILD_NUMBER'], variables['noSuch'])
      displayName: 'Iterate build number if it exists'
    # Set up environment and run the build
    - bash: conda install --yes --quiet -c conda-forge python=3.7 anaconda-client conda-build libiconv
      displayName: 'Set up build environment'

    - bash: conda build --python=3.7 -c conda-forge -c fermi .
      displayName: 'Run the build'
    - bash: anaconda -v -t $(Jasercion-Anaconda-Api) upload -u fermi --label=dev /usr/share/miniconda/conda-bld/linux-64/fermitools-*
      displayName: 'Upload build to Anaconda Cloud'


  #### Linux Test Stage ###
- stage: linux_test_stage
  displayName: 'Ubuntu Test Stage'
  dependsOn: linux_build_stage
  jobs:
  - job: testTools
    displayName: 'Test the Fermitools'
    timeoutInMinutes: 150
    pool:
      vmImage: 'ubuntu-16.04'
    steps:
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    # junit-xml must be installed so the unit test script
    # can produce output in the JUnit format
    - task: CondaEnvironment@0
      inputs:
        environmentName: 'Test'
        packageSpecs: 'python=3.7'
    - bash: |
        conda install --yes --quiet -c conda-forge -c fermi -c fermi/label/dev fermitools=$(version) fermitools-test-scripts junit-xml
      displayName: 'Install the tools and test scripts'
    - bash: |
        source activate Test
        ST-unit-test --bit64
      displayName: 'Run Unit Tests'
    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: 'ST-unit-test-Output.xml'
######################################

######################################
## MacOS Stages - Microsoft Hosted VMs
######################################
#
### Dependency preparation stage
- stage: macosx_prep_deps
  displayName: 'MacOSX Prepare Dependencies'
  dependsOn: []
  jobs:
  - job: RunDeps
    displayName: 'Runtime Dependencies'
    timeoutInMinutes: 20
    pool:
      vmImage: 'macOS-10.14'
    variables:
    - name: VERSION
      value: $(grep -i 'set version' meta.yaml | awk '{ print $5}' | sed 's/"//g')
    steps:

    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    # On Hosted macOS, the agent user doesn't have ownership of Miniconda's installation directory/
    # We need to take ownership if we want to update conda or install packages globally
    - bash: sudo chown -R $USER $CONDA
      displayName: 'Take ownership of conda installation'

    - bash: |
        echo "##vso[task.setvariable variable=VERSION]$(VERSION)"
      displayName: 'Expose Version string as environment variable.'

    # Set up environment and run the build
    - bash: conda install --yes --quiet -c conda-forge -c fermi python=3.7 anaconda-client conda-build libiconv fermi-repoman
      displayName: 'Set up build environment'

    - bash: |
        mkdir components && cd components
        repoman --remote-base https://github.com/fermi-lat checkout-list ../packageList.txt
      displayName: 'Download Sources'

    - bash: |
        echo $VERSION
        conda build --python=3.7 -c conda-forge -c fermi components/Fermitools-dependencies
      displayName: 'Conda-Build Runtime Dependencies'

    - bash: anaconda -v -t $(Jasercion-Anaconda-Api) upload -u fermi --force /usr/local/miniconda/conda-bld/osx-64/fermitools-dependencies-*
      displayName: 'Upload Runtime Dependencies'

  - job: BuildDeps
    displayName: 'Buildtime Dependencies'
    timeoutInMinutes: 20
    pool:
      vmImage: 'macOS-10.14'
    variables:
    - name: VERSION
      value: $(grep -i 'set version' meta.yaml | awk '{ print $5}' | sed 's/"//g')
    steps:
    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    # On Hosted macOS, the agent user doesn't have ownership of Miniconda's installation directory/
    # We need to take ownership if we want to update conda or install packages globally
    - bash: sudo chown -R $USER $CONDA
      displayName: 'Take ownership of conda installation'
    - bash: |
        echo "##vso[task.setvariable variable=VERSION]$(VERSION)"
      displayName: 'Expose Version string as environment variable.'
    # Set up environment and run the build
    - bash: conda install --yes --quiet -c conda-forge -c fermi python=3.7 anaconda-client conda-build libiconv fermi-repoman
      displayName: 'Set up build environment'
    - bash: |
        mkdir components && cd components
        repoman --remote-base https://github.com/fermi-lat checkout-list ../packageList.txt
      displayName: 'Download Sources'

    - bash: conda build --python=3.7 -c conda-forge -c fermi components/Fermitools-build-deps
      displayName: 'Conda-Build Build Dependencies'

    - bash: anaconda -v -t $(Jasercion-Anaconda-Api) upload -u fermi --force /usr/local/miniconda/conda-bld/osx-64/fermitools-build-deps-*
      displayName: 'Upload Build Dependencies'


- stage: macosx_tag_explicit_deps
  displayName: 'MacOSX Save Explicit Dependencies'
  dependsOn: macosx_prep_deps
  jobs:
  - job: SaveExplicitDeps
    displayName: 'Save explicit MacOSX dependencies'
    timeoutInMinutes: 20
    pool:
      vmImage: 'macOS-10.14'
    variables:
    - name: VERSION
      value: $(grep -i 'set version' meta.yaml | awk '{ print $5}' | sed 's/"//g')
    - name: TagName
      value: TestTag-$(grep -i 'set version' ../meta.yaml | awk '{ print $5}' | sed 's/"//g')
    steps:
    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    # On Hosted macOS, the agent user doesn't have ownership of Miniconda's installation directory/
    # We need to take ownership if we want to update conda or install packages globally
    - bash: sudo chown -R $USER $CONDA
      displayName: 'Take ownership of conda installation'

    - bash: |
        echo "##vso[task.setvariable variable=VERSION]$(VERSION)"
      displayName: 'Expose Version string as environment variable.'
    # Set up environment and run the build
    - bash: conda install --yes --quiet -c conda-forge python=3.7 libiconv
      displayName: 'Set up build environment'

    - bash: |
        git clone https://github.com/fermi-lat/Fermitools-explicit-build-deps-macosx.git
      displayName: 'Download Sources'

    - bash: conda create --yes --quiet -n pipeline_bld_deps -c conda-forge -c fermi fermitools-build-deps=$VERSION
      displayName: 'Download Build Dependencies'

    - bash: conda list -n pipeline_bld_deps --explicit > Fermitools-explicit-build-deps-macosx/explicit-deps.txt
      displayName: 'List Explicit Build Dependencies'

    - bash: |
        cd Fermitools-explicit-build-deps-macosx
        git config --global user.email "joseph.a.asercion@nasa.gov"
        git config --global user.name "jasercion"
        git config --global credential.helper store
        echo https://$(Github-Access-Token):x-oauth-basic@github.com>>~/.git-credentials
        git add explicit-deps.txt
        git commit -m "Automatic commit from Azure Pipeline"
        git tag -m "Automatic tag from Azure Pipeline" $(TagName)
        git push --tags --force
      displayName: 'Save Explicit Build Dependencies list'


#####################################
# MacOS Stages - Microsoft Hosted VMs
#####################################

  ### MacOS Build Stage ##
- stage: macos_build_stage
  displayName: 'MacOS Build Stage'
  dependsOn: macosx_prep_deps
  jobs:
  - job: buildTools
    displayName: 'Build the Fermitools'
    timeoutInMinutes: 150
    pool: 
      vmImage: 'macOS-10.14'
    variables:
    - name: BUILD_NUMBER
      value: $(conda search -c fermi/label/dev fermitools | grep -i $(version) | tail -1 | awk '{ print $3}' | cut -d "_" -f 2)
    steps:
    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    # On Hosted macOS, the agent user doesn't have ownership of Miniconda's installation directory/
    # We need to take ownership if we want to update conda or install packages globally
    - bash: sudo chown -R $USER $CONDA
      displayName: 'Take ownership of conda installation'

    ### Build commands start here ###
    # Query last build number for this version and iterate if necessary
    - bash: echo "##vso[task.setvariable variable=BUILD_NUMBER]$(BUILD_NUMBER)"
      displayName: 'Query last build number of this version'
    - bash: echo "##vso[task.setvariable variable=BUILD_NUMBER]$(expr $BUILD_NUMBER + 1)"
      condition: notIn(variables['BUILD_NUMBER'], variables['noSuch'])
      displayName: 'Iterate build number if it exists'
    # Set up environment and run the build
    - bash: conda install --yes --quiet -c conda-forge python=3.7 anaconda-client conda-build
      displayName: 'Set up build environment'
    - bash: conda build --python=3.7 -c conda-forge -c fermi .
      displayName: 'Run the build'
    - bash: anaconda -v -t $(Jasercion-Anaconda-Api) upload -u fermi --label=dev /usr/local/miniconda/conda-bld/osx-64/fermitools-*
      displayName: 'Upload build to Anaconda Cloud'

  ### MacOS Test Stage ###
- stage: macos_test_stage
  displayName: 'MacOS Test Stage'
  condition: succeeded('macos_build_stage')
  jobs:
  - job: testTools
    displayName: 'Test the Fermitools'
    timeoutInMinutes: 150
    pool:
      vmImage: 'macOS-10.14'
    steps:
    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    # On Hosted macOS, the agent user doesn't have ownership of Miniconda's installation directory/
    # We need to take ownership if we want to update conda or install packages globally
    - bash: sudo chown -R $USER $CONDA
      displayName: 'Take ownership of conda installation' 
    # junit-xml must be installed so the unit test script
    - task: CondaEnvironment@0
      inputs:
        environmentName: 'Test'
        packageSpecs: 'python=3.7'
    # can produce output in the JUnit format
    - bash: |
        conda install --yes --quiet -c conda-forge -c fermi -c fermi/label/dev fermitools=$(version) fermitools-test-scripts junit-xml
      displayName: 'Install the tools and test scripts'
    - bash: |
        source activate Test
        ST-unit-test --bit64
      displayName: 'Run Unit Tests'
    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: 'ST-unit-test-Output.xml'
######################################



######################################
# Repository Synchronization
######################################

- stage: repo_tag_sync
  displayName: 'Repo Tag Stage'
  dependsOn:
    - linux_build_stage
    - macos_build_stage
  jobs:
  - job: SyncTags
    displayName: 'Synchronize tags across repos'
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-16.04'
    variables:
    - name: VersionChild
      value: $(grep -i 'set version' ../meta.yaml | awk '{ print $5}' | sed 's/"//g')
    - name: Version
      value: $(grep -i 'set version' meta.yaml | awk '{ print $5}' | sed 's/"//g')
    - name: TagNameChild
      value: "TestTag-$(VersionChild)"
    - name: TagName
      value: "TestTag-$(Version)"
    steps:
    # Manually adding conda to the PATH is a step required by Microsoft
    - bash: echo "##vso[task.prependpath]$CONDA/bin"
      displayName: 'Add conda to PATH'
    # Set up environment and run the build
    - bash: conda install --yes --quiet -c conda-forge -c fermi python=3.7 libiconv fermi-repoman
      displayName: 'Set up build environment'
    - bash: |
        mkdir components && cd components
        echo $(TagNameChild)
        repoman --remote-base https://github.com/fermi-lat checkout-list ../packageList.txt
      displayName: 'Download Sources'
    - bash: |
        pushd components
        echo $(TagNameChild)
        git config --global user.email "joseph.a.asercion@nasa.gov"
        git config --global user.name "jasercion"
        git config --global credential.helper store
        echo https://$(Github-Access-Token):x-oauth-basic@github.com>>~/.git-credentials
        ../multi_release.sh "Automatic tag generated by Azure Pipeline." $(TagNameChild)
        popd
        git tag -f -m "Automatic tag generated by Azure Pipeline." $(TagName)
        git push --tags --force
      displayName: 'Tag Github Repositories'
